<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat[0].nombre}}">
  <ion-content class="padding">
    <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->
    <p>
    {{chat[0].id}}
      {{chat[0].apellido}}
      {{chat[0].nombre}}
      {{chat[0].email}}
      {{chat[0].telefono}}
      
    </p>
    <p>{{ statusMessage }}</p>
  </ion-content>
</ion-view>
